.graphContainer {
    width: 100vw;
    height: 70vh;
    background:white;
    padding: 30px 120px 10px 120px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 0px -5px rgb(60, 179, 113);
    -moz-box-shadow: 0px 10px 0px -5px rgb(60, 179, 113);
    box-shadow: 0px 10px 0px -5px rgb(60, 179, 113);
}

@media only screen and (max-width: 600px) {
    .graphContainer {
        width: 80vw;
    }
}